<aside>
  <img [src]="logoImage" />
  <h1>{{title}}</h1>
  <form id="form-notes" 
      [formGroup]="checkoutForm" (submit)="sendNote()">
    <div class="input-group">
      <input id="info" formControlName="info">
      <textarea
        type="text"
        id="inputTextNote"
        formControlName="textNote"
        required
        placeholder="Digite a nota"
      ></textarea>
      <div *ngIf="textNote?.touched">
        <div class="errors" *ngIf="textNote?.errors?.['required']">
          Este campo é obrigatório
        </div>
        <div class="errors" *ngIf="textNote?.errors?.['minlength']">
          Precisa ter no mínimo 5 caracteres
        </div>
      </div>
    </div>
    <button [disabled]="!checkoutForm?.valid">Enviar</button>
  </form>
</aside>
